@page "/Reservations/OnlineBookingModel/CustomerDetailsForm"
@using MudBlazor
@using ResortManagementApp.Models.Reservation.OnlineBookingModel
@using System.Text.Json.Nodes
@using ResortManagementApp.Pages.ComponentCss
@inject ISnackbar Snackbar

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <!-- Card -->
            <div class="card shadow-lg">
                <div class="text-white" style="background-color:#2E3A33; text-align:center">
                    <h3>Customer Details</h3>
                </div>

                <div class="card-body" style="background-color: #F8F9FA; font-size: 15px;">
                    @if (OnlineBookingDto == null)
                    {
                        <Searching/>
                    }
                    else
                    {
                        <form class="row g-3">
                            <!-- Left Column -->
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">First Name</label>
                                    <input class="form-control" @bind="OnlineBookingDto.FirstName" />
                                    <span class="text-danger">@Errors["FirstName"]?[0]</span>
                                </div>

                                <div class="mb-3">
                                    <label class="form-label">Last Name</label>
                                    <input class="form-control" @bind="OnlineBookingDto.LastName" />
                                </div>

                                <div class="mb-3">
                                    <label class="form-label">Address</label>
                                    <textarea class="form-control" @bind="OnlineBookingDto.Address"></textarea>
                                    <span class="text-danger">@Errors["Address"]?[0]</span>
                                </div>

                                <div class="mb-3">
                                    <label class="form-label">Phone Number</label>
                                    <input class="form-control" type="number" @bind="OnlineBookingDto.PhoneNumber" />
                                    <span class="text-danger">@Errors["PhoneNumber"]?[0]</span>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Check-In Time</label>
                                    <input class="form-control" type="time" />
                                    <span class="text-danger">@Errors["CheckInTime"]?[0]</span>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Check-Out Time</label>
                                    <input class="form-control" type="time"  />
                                    <span class="text-danger">@Errors["CheckOutTime"]?[0]</span>
                                </div>
                            </div>

                            <!-- Right Column -->
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Email Address</label>
                                    <input class="form-control" type="email" @bind="OnlineBookingDto.EmailAddress" />
                                    <span class="text-danger">@Errors["EmailAddress"]?[0]</span>
                                </div>

                                <div class="mb-3">
                                    <label class="form-label">NIC Number</label>
                                    <input class="form-control" @bind="OnlineBookingDto.NIC" />
                                    <span class="text-danger">@Errors["NIC"]?[0]</span>
                                </div>

                                <div class="mb-3">
                                    <label class="form-label">Date Of Birth</label>
                                    <input class="form-control" type="date" @bind="OnlineBookingDto.DathOfBirth" />
                                </div>

                                

                                <div class="mb-3">
                                    <label class="form-label">Remark</label>
                                    <textarea class="form-control" @bind="OnlineBookingDto.Remark" rows="3"></textarea>
                                </div>
                            </div>

                            <!-- Buttons -->
                            <div class="col-12 d-flex justify-content-center mt-4 gap-3">
                                <button class="btn btn-success fw-bold" type="button" @onclick="ClickSaveCustomer">Make Booking</button>
                                <button class="btn btn-warning fw-bold" type="reset">Clear</button>
                                <a class="btn btn-primary fw-bold" href="/">Back</a>
                            </div>
                        </form>
                    }
                </div>
            </div>
        </div>
    </div>
</div>



@inject HttpClient http
@inject NavigationManager navManager
@code{
	public OnlineBookingModel OnlineBookingDto { get; set; } = new();
	public JsonNode Errors { get; set; } = new JsonObject();

	[SupplyParameterFromQuery] public string? Country { get; set; }
	[SupplyParameterFromQuery] public DateTime? CheckIn { get; set; }
	[SupplyParameterFromQuery] public DateTime? CheckOut { get; set; }
	[SupplyParameterFromQuery] public int? Rooms { get; set; }
	[SupplyParameterFromQuery] public int? Adults { get; set; }
	[SupplyParameterFromQuery] public int? Children { get; set; }
	[SupplyParameterFromQuery] public string? PramoCode { get; set; }
    public void HandleUnConfirmClick(string message)
    {
        Snackbar.Configuration.PositionClass = Defaults.Classes.Position.TopRight;
        Snackbar.Configuration.MaxDisplayedSnackbars = 10;
        Snackbar.Add(message, Severity.Normal, config =>
        {
            config.ShowCloseIcon = false;
            config.SnackbarVariant = Variant.Filled;
        });
    }
	protected override void OnInitialized()
	{
		OnlineBookingDto.Nationality = Country;
		OnlineBookingDto.CheckInDate = CheckIn;
		OnlineBookingDto.CheckOutDate = CheckOut;
		OnlineBookingDto.NoOfRooms = Rooms ?? 0;
		OnlineBookingDto.NoOfAdults = Adults ?? 0;
		OnlineBookingDto.NoOfChildren = Children?? 0;
		OnlineBookingDto.NoOfAdults = Adults;

	}


	private async Task ClickSaveCustomer(MouseEventArgs args)
	{
		var response = await http.PostAsJsonAsync("https://localhost:4000/api/OnlineBooking", OnlineBookingDto);
        if (response.IsSuccessStatusCode) { navManager.NavigateTo("/"); HandleUnConfirmClick("Succussfuly Create New Booking..."); }

		var strResponce = await response.Content.ReadAsStringAsync();
		Console.WriteLine("Json Response :" + strResponce);
        HandleUnConfirmClick("Fail To Create New Booking...");
		try
		{
			var jsonResponce = JsonNode.Parse(strResponce);
			Errors = jsonResponce?["errors"] ?? new JsonObject();
		}
		catch (Exception ex)
		{
			Console.WriteLine(ex.Message);
		}
	}
}