@page "/Reservations/OnlineBooking"
@using ResortManagementApp.Models.Reservation
@using ResortManagementApp.Models.Reservation.OnlineBookingModel
@using ResortManagementApp.Pages.ComponentCss
@layout MainLayout


<div>
	<h3 class="mb-3 text-center">Online Booking</h3>
</div>
<div>
	<a href="/Reservations" class="btn btn-primary mb-3">Back</a>
</div>
<div>
	@if (OnlineBookings == null)
	{
		<p><Searching/></p>
	}
	<table class="table">
		<thead class="bg-light">
			<tr class="table">
				<td>Name</td>
				<td>Phone Number</td>
				<td>Address</td>
				<td>EmailAddress</td>
				<td>NIC</td>
				<td>CreditLimit</td>
				<td>OpeningBalanace</td>
				<td>Nationality</td>
				<td>Remark</td>
				<td>Acctions</td>

			</tr>
		</thead>
		<tbody class="bg-light">
			@if (OnlineBookings == null)
			{
				<p><Searching/></p>
			}
			@foreach (var item in OnlineBookings)
			{
				<tr>
					<th>@(item.FirstName + " " + @item.LastName)</th>

					<th>@item.PhoneNumber</th>
					<th>@item.Address</th>
					<th>@item.EmailAddress</th>
					<th>@item.NIC</th>
					<th>@item.CreditLimit</th>
					<th>@item.OpeningBalanace</th>
					<th>@item.Nationality</th>
					<th>@item.Remark</th>
					<th style="white-space:nowrap">
						<a class="btn btn-primary btn-sm" href="/Reservations/OnlineBooking/Edit/@item.Id">Edit</a>
						<a class="btn btn-danger btn-sm" href="/Reservations/OnlineBooking/Delete/@item.Id">Delete</a>
					</th>

				</tr>
			}
		</tbody>

	</table>
</div>
@inject HttpClient Http
@code {
	
	private List<OnlineBookingModel>? OnlineBookings  = new List<OnlineBookingModel>();

	protected override async Task OnInitializedAsync()
	{
		// directBookingModels = await Http.GetFromJsonAsync<List<DirectBookingModel>>("https:localhost:4000/api/DirectBooking");
		OnlineBookings = await Http.GetFromJsonAsync<List<OnlineBookingModel>>("https://localhost:4000/api/OnlineBooking");
	}
}
