@page "/Reservations/DirectBooking"
@using ResortManagementApp.Models.Reservation
@using ResortManagementApp.Pages.ComponentCss
@inject HttpClient Http
@layout MainLayout

<div>
	<h3 class="mb-3 text-center">Direct Booking</h3>
</div>
<div>
	<div>
		<a href="/Reservations/DirectBookingCreate" class="btn btn-primary mb-3">Register Customer</a>
	</div>
	<div>
		<a href="/Reservations" class="btn btn-primary mb-3">Back</a>
	</div>
</div>

<div>
	@if (directBookingModels == null)
	{
		<p><Searching/></p>
	}
	<table class="table">
		<thead class="bg-light">
			<tr class="table">
				<td>Name</td>
				<td>Phone Number</td>
				<td>Address</td>
				<td>EmailAddress</td>
				<td>NIC</td>
				<td>CreditLimit</td>
				<td>OpeningBalanace</td>
				<td>Nationality</td>
				<td>Remark</td>
				<td>Actions</td>

			</tr>
		</thead>
		<tbody class="bg-light">
			@if (directBookingModels == null)
			{
				<p><em>Loading...</em></p>
			}
			@foreach (var item in directBookingModels)
			{
				<tr>
					<th>@(item.FirstName + " " + @item.LastName)</th>

					<th>@item.PhoneNumber</th>
					<th>@item.Address</th>
					<th>@item.EmailAddress</th>
					<th>@item.NIC</th>
					<th>@item.CreditLimit</th>
					<th>@item.OpeningBalanace</th>
					<th>@item.Nationality</th>
					<th>@item.Remark</th>
					<th style="white-space:nowrap">
						<a class="btn btn-primary btn-sm" href="/Reservations/Edit/@item.Id">Edit</a>
						<a class="btn btn-danger btn-sm" href="/Reservations/Delete/@item.Id">Delete</a>
					</th>

				</tr>
			}
		</tbody>

	</table>
</div>
@code {
	private List<DirectBookingModel>? directBookingModels;
	protected override async Task OnInitializedAsync()
	{
		directBookingModels = await Http.GetFromJsonAsync<List<DirectBookingModel>>("https://localhost:4000/api/DirectBooking");
	}
}
