@page "/Reservations/AgentBooking"
@using ResortManagementApp.Models.Administration.ManageAgents
@using ResortManagementApp.Models.Reservation
@using ResortManagementApp.Pages.ComponentCss
@layout MainLayout

<div>
	<h3 class="mb-3 text-center">Agent Booking</h3>
</div>
<div>
	
	<a href="/Reservations/AgentBooking/Create" class="btn btn-primary mb-3">Create Booking </a>
	
	<a href="/Reservations" class="btn btn-primary mb-3">Back</a>
</div>
<div>
	@if (Agents == null)
	{
		<p><Searching/></p>
	}
	<table class="table">
		<thead class="bg-light">
			<tr class="table">
				<td>Name</td>
				<td>Phone Number</td>
				<td>Address</td>
				<td>EmailAddress</td>
				<td>NIC</td>
				<td>CreditLimit</td>				
				<td>Acctions</td>

			</tr>
		</thead>
		<tbody class="bg-light">
			@if (Agents == null)
			{
				<p><Searching/></p>
			}
			@foreach (var item in Agents)
			{
				<tr>
					<th>@(item.AgentName)</th>

					<th>@item.Mobile</th>
					<th>@item.AgentAddress</th>
					<th>@item.Email</th>
					<th>@item.NIC</th>
					<th>@item.CreditLimit</th>
					<th style="white-space:nowrap">
						<a class="btn btn-primary btn-sm" href="/Reservations/AgentBooking/Edit/@item.Id">Edit</a>
						<a class="btn btn-danger btn-sm" href="/Reservations/AgentBooking/Delete/@item.Id">Delete</a>
					</th>

				</tr>
			}
		</tbody>

	</table>
</div>
@inject HttpClient Http
@code {
 
    private List<Agents>? Agents;
    protected override async Task OnInitializedAsync()
	{
		Agents = await Http.GetFromJsonAsync<List<Agents>>("https://localhost:4000/api/Agent");
	}
}
