@page "/Administration/ManageExtra/Create"


@using System.Text.Json.Nodes
@using ResortManagementApp.Models.Administration.DTOS
@using ResortManagementApp.Models.Administration.ManageExRates
@using ResortManagementApp.Models.Administration.ManageExtra
@using ResortManagementApp.Pages.ComponentCss

@layout MainLayout
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <!-- Card -->
            <div class="card shadow-lg">
                <div class="card-header bg-success text-center text-white">
                    <h3>Add New Extra Charges</h3>
                </div>

                <div class="card-body" style="background-color: #F8F9FA; font-size: 15px;">
                    @if (ExtraChargersDtos == null)
                    {
                        <p><Searching /></p>
                    }
                    else
                    {
                        <div class="row mb-3">
                            <label class="col-md-6 col-form-label">Extra Charge Type</label>
                            <div class="col-md-6" style="background-color: antiquewhite;">
                                <select class="form-control" @bind="ExtraChargersDtos.ExtraChargeType">
                                    <option>---Select--</option>
                                    @foreach (var item in ExtraChargeTypes)
                                    {
                                        <option>@item</option>
                                    }
                                </select>
                                <span class="text-danger">@Errors["ExtraChargeType"]?[0]</span>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label class="col-md-6 col-form-label">Rate (USD)</label>
                            <div class="col-md-6">
                                <input class="form-control" type="number" @bind="ExtraChargersDtos.RateUSD" />
                                <span class="text-danger">@Errors["RateUSD"]?[0]</span>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label class="col-md-6 col-form-label">Rate (LKR)</label>
                            <div class="col-md-6">
                                <input class="form-control" type="number" @bind="ExtraChargersDtos.RateLKR" />
                                <span class="text-danger">@Errors["RateLKR"]?[0]</span>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label class="col-md-6 col-form-label">Details</label>
                            <div class="col-md-6">
                                <input class="form-control" type="text" @bind="ExtraChargersDtos.Details" />
                                <span class="text-danger">@Errors["Details"]?[0]</span>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label class="col-md-6 col-form-label">Unit</label>
                            <div class="col-md-6">
                                <input class="form-control" type="number" @bind="ExtraChargersDtos.Amount" />
                                <span class="text-danger">@Errors["Amount"]?[0]</span>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label class="col-md-6 col-form-label">Comment</label>
                            <div class="col-md-6">
                                <input class="form-control" type="text" @bind="ExtraChargersDtos.Comment" />
                                <span class="text-danger">@Errors["Comment"]?[0]</span>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label class="col-md-6 col-form-label">Total Amount</label>
                            <div class="col-md-6">
                                @if (ExtraChargersDtos.ExtraChargeType is not null)
                                {
                                    <input class="form-control" type="text" value="@TotalAmount" readonly />
                                }
                                <span class="text-danger">@Errors["TotalAmount"]?[0]</span>
                            </div>
                        </div>

                        <div class="d-grid d-md-flex justify-content-md-center mt-4 gap-2">
                            <button class="btn btn-success fw-bold" type="button" @onclick="CreateExchangeRate">
                                Add
                            </button>
                            <button class="btn btn-warning fw-bold" type="reset">
                                Clear
                            </button>
                            <a class="btn btn-primary fw-bold" href="/Administration/ManageExtra">
                                Back
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>




<style>
	.form {
		display: flex;
		flex-direction: column;
		background-color: transparent;
		color: black;
		width: 80%;
		font-weight: bold;
		height: fit-content;
	}

	.inp {
		margin-left: 3rem;
	}
</style>
@inject IJSRuntime JS
@inject HttpClient http
@inject NavigationManager navManager
@code {
	public JsonNode Errors { get; set; } = new JsonObject();
	public ExtraChanrgers? ExtraChargers { get; set; }
	public ExtraChargersDto ExtraChargersDtos { get; set; } = new();

	public List<string>? ExtraChargeTypes { get; set; } = new List<string>
	{
		"Early Check In", "City Tour", "Pool Tickets", "Pool Table(45 Min)", "Pre Shoot(Weddings)","Cockage-Foreiger",
		"Cockage-Local","Ladies Dress","Ladies Blouse","Bathmate Replacement", "White wine 187.5ml Mini Bar" , "Red wine 187.5ml Mini Bar",
		"Coca Cola Mini Bar", "Sprite Mini Bar", "Laundry Charges", "Day Outing Package","Extra Person FB", "Extra Person HB",
		"Extra Person BB", "Extra BB Adult", "Extra Kid BB", "Extra Kid HB", "Changing Rooms", "Soda Mini Bar", "Extra Kid BB",
		"Mineral Water 1L Min Bar", "Jambo Peanut Min Bar", "Chocolate(Mass Bar)Mini Bar","Leadies Skirt","Leadies Brassier",
		"Leadies Panties","Leadies Shorts", "Leadies Slack", "Leadies Lungi/Sarong", "Ladies Night Gown", "Leadies T-Shirt",
		"Leadies Vest", "Leadies Under Skirt","Leadies Abaya", "Leadies Socks","Gents Shirt","Gents Trouser","Gents Jacket",
		"Gents Pyjamas/Sarong", "Gents Undershirt", "Gents Under Pants", "Gents Handkerchief", "Gents Socks","Gents Shorts",
		"Gents T-Shirts", "Gents Kurutha Suit", "Children Handkerchief", "Children Shorts", "Children T-Shirt","Children Shorts",
		"Children Frock", "Children Pyjamas Suit", "Children Underwear", "Children Socks", "Children Panty", "Children Skirt",
		"Children Cap"
	};

	public decimal? TotalAmount => ExtraChargersDtos is not null
		? (ExtraChargersDtos.RateUSD > 0
			? ExtraChargersDtos.RateUSD * ExtraChargersDtos.Amount
			: ExtraChargersDtos.RateLKR * ExtraChargersDtos.Amount)
		: 0;

	private async Task CreateExchangeRate(MouseEventArgs args)
	{
		var response = await http.PostAsJsonAsync("https://localhost:4000/api/ExtraCharge", ExtraChargersDtos);
		if (response.IsSuccessStatusCode) 
		{ 
			navManager.NavigateTo("/Administration/ManageExtra"); 
		}

		var strResponce = await response.Content.ReadAsStringAsync();
		Console.WriteLine("Json Response :" + strResponce);

		try
		{
			var jsonResponce = JsonNode.Parse(strResponce);
			Errors = jsonResponce?["errors"] ?? new JsonObject();
		}
		catch (Exception ex)
		{
			Console.WriteLine(ex.Message);
		}
	}
}

