@page "/Administration/ManageExtra"
@using ResortManagementApp.Models.Administration.DTOS
@using ResortManagementApp.Models.Administration.ManageAgents
@using ResortManagementApp.Models.Administration.ManageExRates
@using ResortManagementApp.Models.Administration.ManageExtra
@using ResortManagementApp.Models.Administration.ManageRooms
@using ResortManagementApp.Pages.ComponentCss
@layout MainLayout

<div>
	<h3 class="mb-3 text-center">Manage Extra Chargers</h3>
</div>
<div>
	<div>
		<div>
			<div>
				<a href="/Administration/ManageExtra/Create" class="btn btn-primary mb-3">New Exchara Charge</a>
			</div>
			<div>
				<a href="/Administration" class="btn btn-primary mb-3">Back</a>
			</div>
		</div>
		<div>
			@if (ExtraChargersDtos == null)
			{
				<Searching />
			}
			<table class="table">
				<thead class="bg-light">
					<tr class="table">
						<td>Extra Charge Type</td>
						<td>Details</td>
						<td>RateLKR</td>
						<td>RateUSD</td>
						<td>Amount</td>
						<td>Invoice Date-Time</td>

						<td>Actions</td>
					</tr>
				</thead>
				<tbody class="bg-light">
					@if (ExtraChargersDtos == null)
					{
						<Searching />
					}
					@foreach (var item in ExtraChargersDtos)
					{
						<tr>
							<th>@(item.ExtraChargeType)</th>
							<th>@(item.Details)</th>
							<th>@("Rs "+item.RateLKR)</th>
							<th>@("USD "+item.RateUSD)</th>
							<th>@(item.Amount)</th>
							<th>@(item.DateTime)</th>
							
							<th style="white-space:nowrap">
								<button class="btn btn-primary btn-sm" @onclick="ClickToPrintBill">PrintBill</button>
								<a class="btn btn-primary btn-sm" href="/Administration/ManageExtra/Edit/@item.Id">Edit</a>
								<a class="btn btn-danger btn-sm" href="/Administration/ManageExtra/Delete/@item.Id">Delete</a>
							</th>

						</tr>
					}
				</tbody>

			</table>
		</div>
	</div>
</div>
@inject HttpClient Http
@code {
	public ExtraChanrgers? ExtraChargers { get; set; }
	public List<ExtraChargersDto>? ExtraChargersDtos { get; set; } = new List<ExtraChargersDto>();

	protected async override Task OnInitializedAsync()
	{
		ExtraChargersDtos = await Http.GetFromJsonAsync<List<ExtraChargersDto>>("https://localhost:4000/api/ExtraCharge");
	}
	private Task ClickToPrintBill(MouseEventArgs args)
	{
		throw new NotImplementedException();
	}
}
