@page "/ClientManagement/Client/AdvancePayIndex"
@using ResortManagementApp.Models.ClientManagement.AdvancePay
@using ResortManagementApp.Models.Reservation
@using ResortManagementApp.Pages.ComponentCss
@inject HttpClient Http
@layout MainLayout

<div>
	<h3 class="mb-3 text-center">Advance Payment</h3>
</div>
<div>
	@foreach (var item in AdvancePayDtos)
	{
		
	<div>
		<a href="/ClientManagement/Client/Create/@item.Id" class="btn btn-primary mb-3">Create Payment</a>
	</div>
	}
	<div>
		<a href="/ClientManagement" class="btn btn-primary mb-3">Back</a>
	</div>
</div>

<div>
	@if (AdvancePayDtos == null)
	{
		<p><Searching/></p>
	}
	<table class="table">
		<thead class="bg-light">
			<tr class="table">
				<td>Customer Id</td>
				<td>Paying Amount</td>
				<td>Payment Type</td>
				<td>Order Type</td>
				<td>Order Date</td>
				<td>Order Details</td>
				<td>Actions</td>
			</tr>
		</thead>
		<tbody class="bg-light">
			@if (AdvancePayDtos == null)
			{
				<p><Searching/></p>
			}
			@foreach (var item in AdvancePayDtos)
			{
				<tr>
					<th></th>

					<th>@item.PayingAmount</th>
					<th>@item.PaymentType</th>
					<th>@item.OderType</th>
					<th>@item.OderDate</th>
					<th>@item.Details</th>
					<th style="white-space:nowrap">
						<a class="btn btn-primary btn-sm" href="/ClientManagement/Client/Edit/@item.Id">Edit</a>
						<a class="btn btn-danger btn-sm" href="/ClientManagement/Client/Delete/@item.Id">Delete</a>
					</th>

				</tr>
			}
		</tbody>

	</table>
</div>
@code {
	
	public List<AdvancePay>? AdvancePays { get; set; }
	public List<AdvancePayDto> AdvancePayDtos { get; set; } = new();

	
}
