@page "/ClientManagement/Create/{Id:guid}"
@using ResortManagementApp.Models.Reservation.DTO
@using System.Text.Json.Nodes

@layout MainLayout
<div class="card">
    <h3 class="mb-3 text-center">Register Customer</h3>
</div>

<div class="col-lg-8">
    <h1 class="title mb-5">New Customer</h1>
</div>

<form class="form" style="background-color: antiquewhite; padding: 1rem;">
    <!-- First Row: First Name & Last Name -->
    <div class="d-flex mb-3 gap-4">
        <div class="row form-group flex-grow-1">
            <label class="col-md-4 col-form-label">First Name</label>
            <div class="col-md-8">
                <input class="form-control" @bind="directBookingDTO.FirstName" />
                <span class="text-danger">@Errors["FirstName"]?[0]</span>
            </div>
        </div>

        <div class="row form-group flex-grow-1">
            <label class="col-md-4 col-form-label">Last Name</label>
            <div class="col-md-8">
                <input class="form-control" @bind="directBookingDTO.LastName" />
                <span class="text-danger">@Errors["LastName"]?[0]</span>
            </div>
        </div>
    </div>

    <!-- Other Customer Details -->
    <div class="row mb-3">
        <label class="col-md-2 col-form-label">Address</label>
        <div class="col-md-6">
            <textarea class="form-control" @bind="directBookingDTO.Address"></textarea>
            <span class="text-danger">@Errors["Address"]?[0]</span>
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-md-2 col-form-label">Phone Number</label>
        <div class="col-md-6">
            <input class="form-control" type="number" @bind="directBookingDTO.PhoneNumber" />
            <span class="text-danger">@Errors["PhoneNumber"]?[0]</span>
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-md-2 col-form-label">Email Address</label>
        <div class="col-md-6">
            <input class="form-control" type="email" @bind="directBookingDTO.EmailAddress" />
            <span class="text-danger">@Errors["EmailAddress"]?[0]</span>
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-md-2 col-form-label">NIC Number</label>
        <div class="col-md-6">
            <input class="form-control" @bind="directBookingDTO.NIC" />
            <span class="text-danger">@Errors["NIC"]?[0]</span>
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-md-2 col-form-label">Date Of Birth</label>
        <div class="col-md-6">
            <input class="form-control" type="date" @bind="directBookingDTO.DathOfBirth" />
        </div>
    </div>



    <div class="row mb-3">
        <label class="col-md-2 col-form-label">Credit Limit</label>
        <div class="col-md-6">
            <input class="form-control" type="number" @bind="directBookingDTO.CreditLimit" />
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-md-2 col-form-label">Remark</label>
        <div class="col-md-6">
            <textarea class="form-control" @bind="directBookingDTO.Remark"></textarea>
        </div>
    </div>

    <!-- Action Buttons -->
    <div class="row justify-content-end mb-3 gap-3">
        <div class="col-md-3 d-grid">
            <button class="btn btn-success fw-bold" type="button" @onclick="SaveCustomer">Register Customer</button>
        </div>
        <div class="col-md-3 d-grid">
            <button class="btn btn-warning fw-bold" type="reset">Clear</button>
        </div>
        <div class="col-md-3 d-grid">
            <a class="btn btn-primary fw-bold" href="/ClientManagement">Back</a>
        </div>
    </div>
</form>


<style>
	.form {
		display: flex;
		flex-direction: column;
		background-color: transparent;
		color: black;
		width: 60rem;
		font-weight: bold;
	}
</style>

@inject HttpClient http
@inject NavigationManager navManager
@code {
	[Parameter]
	public Guid guid { get; set; }
	public DirectBookinDTO directBookingDTO { set; get; } = new();
	public JsonNode Errors { set; get; } = new JsonObject();
	private async Task SaveCustomer(MouseEventArgs args)
	{
		var response = await http.PostAsJsonAsync("https://localhost:4000/api/DirectBooking", directBookingDTO);
		if (response.IsSuccessStatusCode) { navManager.NavigateTo("/Reservations/DirectBooking"); }

		var strResponce = await response.Content.ReadAsStringAsync();
		Console.WriteLine("Json Response :" + strResponce);

		try
		{
			var jsonResponce = JsonNode.Parse(strResponce);
			Errors = jsonResponce?["errors"] ?? new JsonObject();
		}
		catch (Exception ex)
		{
			Console.WriteLine(ex.Message);
		}
	}
}
