@page "/Administration/ManageExRates/Edit/{Id:guid}"


@using System.Text.Json.Nodes
@using ResortManagementApp.Models.Administration.DTOS
@using ResortManagementApp.Models.Administration.ManageExRates
@using ResortManagementApp.Pages.ComponentCss

@layout MainLayout
<div>
	<h3 class="card mb-3 text-center">Add New Package</h3>
</div>
<div class="col-lg-8">
	<h1 class="mb-5">New Package</h1>
</div>

<form class="form flex-wrap" style="  background-color:antiquewhite; margin-left: 0.5rem;">
	@if (ExchangeRatesDto == null)
	{
		<p><Searching /></p>
	}
	<div class="row justify-content-around mb-3">
		<label class="col-md-4 col-form-label">Package Id</label>
		<div class="col-md-6" style="background-color:antiquewhite">
			<input class="form-control" type="text" @bind="@Id" readonly>
			<span class="text-danger">@Errors["PackageId"]?[0]</span>
		</div>
	</div>
	<div class="justify-content-around flex flex-wrap">
		<div class="">
			<div class="row mb-3">
				<label class="col-md-3 col-form-label">Currency Name</label>
				<div class="col-md-6" style="background-color:antiquewhite">
					<input class="form-control" type="text" @bind="ExchangeRatesDto.CurrencyName">
					<span class="text-danger">@Errors["CurrencyName"]?[0]</span>
				</div>
			</div>
			<div class="row mb-3">
				<label class="col-md-3 col-form-label">Selling Rate</label>
				<div class="col-md-6">
					<input class="form-control" type="text" @bind="ExchangeRatesDto.SellingRate">
					<span class="text-danger">@Errors["SellingRate"]?[0]</span>
				</div>
			</div>
			<div class="row mb-3">
				<label style="" class="col-md-3 col-form-label">Room Type</label>
				<div class="col-md-6">
					<input class="form-control" type="text" @bind="ExchangeRatesDto.BuyingRate">
					<span class="text-danger">@Errors["BuyingRate"]?[0]</span>

				</div>
			</div>
			

		</div>
		<div class="" style="display:flex; flex-direction: column; gap: 1rem;">

			<div class="offset-md-1 col-md-3 d-grid" style="">
				<button class="btn btn-success fw-bold" style="width:8rem;" type="button" @onclick="CreateExchangeRate">Update</button>
			</div>
			<div class="offset-md-1 col-md-3 d-grid">
				<button class="btn btn-warning fw-bold" style="width:8rem;" type="reset">Clear</button>
			</div>
			<div class="offset-md-1 col-md-3 d-grid">
				<a class="btn btn-primary fw-bold" style="width:8rem;" href="/Administration/ManageExRates">Back</a>
			</div>
		</div>
	</div>




</form>



<style>
	.form {
		display: flex;
		flex-direction: column;
		background-color: transparent;
		color: black;
		width: 80%;
		font-weight: bold;
		height: fit-content;
	}

	.inp {
		margin-left: 3rem;
	}
</style>

@inject HttpClient http
@inject NavigationManager navManager
@code {
	[Parameter]
	public Guid Id { get; set; }
	public JsonNode Errors { get; set; } = new JsonObject();
	public ExchangeRates? ExchangeRates { get; set; }
	public ExchangeRatesDto ExchangeRatesDto { get; set; } = new();
	
	
	protected override async Task OnParametersSetAsync()
	{
		try
		{

			ExchangeRates = await http.GetFromJsonAsync<ExchangeRates>($"https://localhost:4000/api/ExtraModel/{Id}");
			ExchangeRatesDto.BuyingRate = ExchangeRates?.BuyingRate?? 0;
			ExchangeRatesDto.CurrencyName = ExchangeRates?.CurrencyName?? "";
			ExchangeRatesDto.SellingRate = ExchangeRates?.SellingRate?? 0;
			

			Console.WriteLine("Succusfull Loading...");
		}
		catch (Exception ex)
		{
			Console.WriteLine("Exceptions : " + ex.StackTrace);
		}
	}
	private async Task CreateExchangeRate(MouseEventArgs args)
	{
		try
		{
			var response = await http.PutAsJsonAsync(
				$"https://localhost:4000/api/ExtraModel/{Id}", ExchangeRatesDto);

			if (response.IsSuccessStatusCode)
			{
				navManager.NavigateTo("/Administration/ManageExRates");
			}
			else
			{
				var strResponse = await response.Content.ReadAsStringAsync();
				Console.WriteLine("Update failed: " + strResponse);

				try
				{
					var jsonResponse = JsonNode.Parse(strResponse);
					Errors = jsonResponse?["errors"] ?? new JsonObject();
				}
				catch
				{
					Errors = new JsonObject();
				}
			}
		}
		catch (Exception ex)
		{
			Console.WriteLine("Exception: " + ex.Message);
		}
	}
}

