@using ResortManagementApp.Models.Reservation.DTO
@using ResortManagementApp.Models.Reservation.OnlineBookingModel
@using ResortManagementApp.Pages
@using MudBlazor
@using Microsoft.AspNetCore.Components
@using System.Globalization
@using ResortManagementApp.Pages.Reservations.OnlineBookingModelCrud
@using static System.Net.WebRequestMethods

@inject IJSRuntime jsruntime
@layout ClientLayout


@page "/"
<div style="margin-top:-4rem;">

	<section style="background-color:azure;">
		<div>
			<MudCarousel Class="mud-width-full" Style="height:500px;" ShowArrows="@arrows" ShowBullets="@bullets" EnableSwipeGesture="@enableSwipeGesture" AutoCycle="@autocycle" TData="object">
				<MudCarouselItem Transition="transition" Color="@Color.Primary">
					<div class="d-flex" style="height:100%">
						@* <MudIcon Class="mx-auto my-auto" Icon="@Icons.Custom.Brands.MudBlazor" Size="@Size.Large" /> *@
						<img src="/imgs/clientpotal/clienthomeimg/front1.jpeg" alt="Image 1" class="cover-photo mx-auto my-auto" style="max-width:100%; height:100%;" />

					</div>
				</MudCarouselItem>
				<MudCarouselItem Transition="transition" Color="@Color.Secondary">
					<div class="d-flex" style="height:100%">
						@* <MudIcon Class="mx-auto my-auto" Icon="@Icons.Custom.Brands.MudBlazor" Size="@Size.Large" /> *@
						<img src="/imgs/clientpotal/clienthomeimg/front2.jpeg" alt="Image 2" class="cover-photo mx-auto my-auto" style="max-width:100%; height:100%;" />

					</div>
				</MudCarouselItem>
				<MudCarouselItem Transition="transition">
					<div class="d-flex" style="height:100%">
						@* <MudIcon Class="mx-auto my-auto" Icon="@Icons.Custom.Brands.MudBlazor" Color="@Color.Primary" Size="@Size.Large" /> *@
						<img src="/imgs/clientpotal/clienthomeimg/front3.jpeg" alt="Image 3" class="cover-photo mx-auto my-auto" style="max-width:100%; height:100%;" />

					</div>
				</MudCarouselItem>
				<MudCarouselItem Transition="transition">
					<div class="d-flex" style="height:100%">
						@* <MudIcon Class="mx-auto my-auto" Icon="@Icons.Custom.Brands.MudBlazor" Color="@Color.Primary" Size="@Size.Large" /> *@
						<img src="/imgs/clientpotal/clienthomeimg/front4.jpeg" alt="Image 4" class="cover-photo mx-auto my-auto" style="max-width:100%; height:100%;" />

					</div>
				</MudCarouselItem>
			</MudCarousel>

		</div>

	</section>
	<section style="background-color:#344E41; margin-top:-2.1rem; height:3rem;">
		<div class="fixed-div" style="background-color:#344E41">
			<div class="nav-item px-3">
				<NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
					<span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> OFFERS
				</NavLink>
			</div>
			<div class="nav-item px-3">
				<NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
					<span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> EXPERIENCES
				</NavLink>
			</div>
			<div class="nav-item px-3">
				<NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
					<span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> EVENT
				</NavLink>
			</div>
			<div class="nav-item px-3">
				<NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
					<span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> ESG
				</NavLink>
			</div>
			<div class="nav-item px-3">
				<NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
					<span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> GIFT CARDS
				</NavLink>
			</div>
			<div class="nav-item px-3">
				<NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
					<span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> ABOUT US
				</NavLink>
			</div>
			<div class="nav-item px-3">
				<NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
					<span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> BOOK DIRECT
				</NavLink>
			</div>
		</div>

	</section>

	<section style="background-color: #A3B18A; margin-top: 0.4rem; padding: 10px;">
		<div class="">
			<form class="con3-quckBooking-section3" action="/frontoffice" method="post">
				<div class="position-absolute justify-content-center flex">
					<div style="width: 250px;">
						<MudSelect T="DropdownWidth" Label="Resort Width" @bind-Value="@_dropdownWidth">
							<MudSelectItem Value="@DropdownWidth.Relative">Solitary Green Resort - Nuwara Eliya</MudSelectItem>
						</MudSelect>
					</div>
					<span style="font-size:50px;margin-top:-1rem;">|</span>
					<div style="margin-top: 0.5rem">
						<MudStack AlignItems="AlignItems.Center" Style="width:450px; height:50px; margin:-1rem;">
							<MudDateRangePicker PickerVariant="@_variant" @bind-DateRange="@_dateRange" Margin="Margin.Dense" Label="Select date range" />
							<MudSpacer />
							<MudToggleGroup T="PickerVariant" SelectionMode="SelectionMode.SingleSelection" Value="@_variant" ValueChanged="@OnValueChanged"
											Color="Color.Primary" CheckMark="true" FixedContent="false">

							</MudToggleGroup>
						</MudStack>
					</div>
					<span style="font-size:50px;margin-top:-1rem;">|</span>
					
					<div style="">
						<select style="height:3rem; background-color:transparent" required>
							<option>--Rooms--</option>
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
							<option>5</option>
						</select>
					</div>
					<div style="">
						<select style="height:3rem; background-color:transparent" required>
							<option>--Adults--</option>
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
							<option>5</option>
						</select>
					</div>
					<div style="">
						
						<select style="height:3rem; background-color:transparent" required>
							<option>--Children--</option>
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
							<option>5</option>
						</select>

					</div>
					<span style="font-size:50px;margin-top:-1rem;">|</span>
					<div style="">
						<input style="height:3rem; background-color:transparent" type="text" name="promoCode" value="" placeholder="Promo Code" />
					</div>
					<span style="font-size:50px;margin-top:-1rem;">|</span>
					<div style="">
						<input style="height:3rem; background-color:transparent" type="text" name="promoCode" value="" placeholder="@UserCountry" readonly />

					</div>
					<span style="font-size:50px;margin-top:-1rem;">|</span>

					<div>
						<input class="btn btn-primary" style="" type="submit" name="booking" value="Book Now" />
					</div>
				</div>	
			</form>
		</div>

	</section>
	<section style="margin-top:-4rem; width: 100%;">
		<div class="" style=" display:flex ; font-family:'Lucida Sans Typewriter'; font-weight:bold	; margin-top:-2rem; justify-content:center">
			<div>


				<img style="width:550px; height:500px;" src="/imgs/maindashboard/logo.png" />
			</div>


		</div>
		<div style="font-family:'Lucida Sans Typewriter'; font-weight:bold	; margin-top:-2rem; justify-content:center; display:flex;">
			<div style="margin-top:-2rem; width:50%; font-size:16px;  font-weight: bold; color:white; backdrop-filter: blur(1rem); backdrop-filter:drop-shadow(20%);  justify-items: baseline ; background-color: rgba(0, 0, 0, 0.4);">
				<p style="">"Perched amidst the misty hills and emerald tea plantations of Nuwara Eliya, Solitary Green Resort offers a serene escape into nature’s embrace. This boutique retreat combines tranquility and elegance, featuring private terraces with breathtaking views of rolling landscapes and lush greenery. Immerse yourself in the cool mountain air, unwind in comfort, and experience the perfect blend of luxury and solitude in Sri Lanka’s scenic highlands."</p>

			</div>
		</div>

	</section>

	<section>
		<div>
			<MudPaper Class="pa-4 bg-container-allSection" style="background-color:#A3B18A">
				<MudStack Spacing="2">
					<MudButton OnClick="OnExpandCollapseClick">@(_expanded ? "Collapse" : " SERVICES & FACILITIES")</MudButton>
					<MudDivider />
					<MudCollapse Expanded="_expanded">
						<div style="display:flex; gap:2rem;	justify-content:center; font-family:'Lucida Sans Typewriter'">
							<div style="display:grid; width:9rem; background-color: #C5E1A5; text-align:center; border-radius:2rem;">
								<img style="width:50px; height:50px; justify-self:center" src="/imgs/clientpotal/clienthomeimg/marketeq--wifi.png" alt="Alternate Text" />
								<label style="font-size:18px; font-weight:bold;">WiFi</label>
								<label>Available throughout hotel.</label>
							</div>
							<div style="display:grid; width:9rem; background-color:antiquewhite;border-radius:2rem; text-align:center">
								<img style="width:50px; height:50px; justify-self:center" src="/imgs/clientpotal/clienthomeimg/equptment.png" alt="Alternate Text" />
								<label style="font-size:18px; font-weight:bold;">Equipment</label>
								<label>Bicycles & snorkelling gear for guests’ use.</label>
							</div>
							<div style="display:grid; width:9rem; background-color: #C5E1A5;border-radius:2rem; text-align:center">
								<img style="width:50px; height:50px; justify-self:center" src="/imgs/clientpotal/clienthomeimg/sweming.png" alt="Alternate Text" />
								<label style="font-size:18px; font-weight:bold;">Swimming pools</label>
								<label>Two gorgeous pools with views.</label>
							</div>
							<div style="display:grid; width:9rem; background-color:antiquewhite;border-radius:2rem; text-align:center">
								<img style="width:50px; height:50px; justify-self:center" src="/imgs/clientpotal/clienthomeimg/parking.png" alt="Alternate Text" />
								<label style="font-size:18px; font-weight:bold;">Secure Parking</label>
								<label>Available outside.</label>
							</div>
							<div style="display:grid; width:9rem; background-color: #C5E1A5;border-radius:2rem; text-align:center">
								<img style="width:50px; height:50px; justify-self:center" src="/imgs/clientpotal/clienthomeimg/spa.png" alt="Alternate Text" />
								<label style="font-size:18px; font-weight:bold;">La Parenthèse</label>
								<label>Spa.</label>
							</div>
							<div style="display:grid; width:9rem; background-color:antiquewhite;border-radius:2rem; text-align:center">
								<img style="width:50px; height:50px; justify-self:center" src="/imgs/clientpotal/clienthomeimg/laudary.png" alt="Alternate Text" />
								<label style="font-size:18px; font-weight:bold;">Laundry services</label>
								<label>Available on request.</label>
							</div>
							<div style="display:grid; width:9rem; background-color: #C5E1A5;border-radius:2rem; text-align:center">
								<img style="width:50px; height:50px; justify-self:center" src="/imgs/clientpotal/clienthomeimg/houseKeping.png" alt="Alternate Text" />
								<label style="font-size:18px; font-weight:bold;">Housekeeping</label>
								<label>Offered daily.</label>
							</div>
							<div style="display:grid; width:9rem; background-color:antiquewhite;border-radius:2rem; text-align:center">
								<img style="width:50px; height:50px; justify-self:center" src="/imgs/clientpotal/clienthomeimg/Lounging.png" alt="Alternate Text" />
								<label style="font-size:18px; font-weight:bold;">Lounging</label>
								<label>Sunbeds, hammocks and loungers.</label>
							</div>

						</div>
					</MudCollapse>
				</MudStack>
			</MudPaper>


		</div>
	</section>


	<section style="margin:0; padding:0; ">
		<div class="video-container" style="position:fixed; top:0; left:0; width:100vw; height:100vh; z-index:-1; overflow:hidden; backdrop-filter:blur(80px)">
			<video autoplay loop muted playsinline
				   style="width:100vw; height:100vh; object-fit:cover; backdrop-filter: brightness(50%);
						filter: blur(2px);">
				<source src="/video/clientportel/promovideo.mp4" type="video/mp4" />
			</video>
		</div>
	</section>

	<section>
	</section>

</div>


<style type="text/css">
	.con1-welcom-section1 {
		font-family: cursive;
		text-align: center;
	}

	.con2-selectbar-secton2 {
		display: flex;
		gap: 1rem;
		justify-content: center;
		height: 1rem;
	}

	.con3-quckBooking-section3 {
		display: flex;
		gap: 1rem;
		justify-content: center;
		height: 3rem;
		color: black;
	}

	.cover-photo {
		width: 100%;
		height: 100%;
		object-fit: cover; /* Ensures the image covers the entire container */
	}

	.bg-container-allSection {
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		width: 100vw;
		height: auto;
		display: flex;
		align-items: center;
		justify-content: center;
		color: black;
	}

</style>

@inject IJSRuntime JS
@inject HttpClient http
@code {
	public CustomerUsePcInfoDto CustomerUsePcInfoDto = new CustomerUsePcInfoDto();
	public OnlineBookingModel onlineBookingModel = new OnlineBookingModel();
	public string? UserCountry;
	private DropdownWidth _dropdownWidth ;
	public OnlineBookingModel onlineBooking = new();
	private bool arrows = true;
	private bool bullets = true;
	private bool enableSwipeGesture = true;
	private bool autocycle = true;
	private Transition transition = Transition.Fade;
	private PickerVariant _variant = PickerVariant.Dialog;
	private DateRange _dateRange { get; set; }

	protected async override Task OnInitializedAsync()
	{

		try
		{
			var result = await http.GetFromJsonAsync<CustomerUsePcInfoDto>(
				"https://localhost:4000/api/Geo/country"
			);

			if (result != null)
			{
				UserCountry = result.City;

			}
			else
			{
				UserCountry = "Unknown";
			}
		}
		catch (Exception ex)
		{
			Console.WriteLine($"Error fetching country info: {ex.Message}");
			UserCountry = "Unknown";
		}
	}
	private void OnValueChanged(PickerVariant variant)
	{
		_dateRange = null;
		_variant = variant;
	}
	private string? stringValue { get; set; }

	private string? userInput { get; set; }
	private string? promoCodeInput { get; set; }

	bool _expanded = true;

	private void OnExpandCollapseClick()
	{
		_expanded = !_expanded;
	}

	public string? VideoSource = "images/ClientHomeVideo/video.mp4";


	private async Task ClickBooking(MouseEventArgs args)
	{
		var OnlineBookingModel = new OnlineBookingModel
			{
				CheckInDate = _dateRange.Start,
				CheckOutDate = _dateRange.End
			};
		// var response = await http.PostAsJsonAsync("https:localhost:4000/api/OnlienBooking", directBookingDTO);
		// if (response.IsSuccessStatusCode) { navManager.NavigateTo("/Reservations/DirectBooking"); }

		// var strResponce = await response.Content.ReadAsStringAsync();
		// Console.WriteLine("Json Response :" + strResponce);

		// try
		// {
		// 	var jsonResponce = JsonNode.Parse(strResponce);
		// 	Errors = jsonResponce?["errors"] ?? new JsonObject();
		// }
		// catch (Exception ex)
		// {
		// 	Console.WriteLine(ex.Message);
		// }
	}
}