@using ResortManagementApp.Models.Reservation.DTO
@using ResortManagementApp.Models.Reservation.OnlineBookingModel
@using ResortManagementApp.Pages
@using MudBlazor
@using Microsoft.AspNetCore.Components
@using System.Globalization
@using ResortManagementApp.Pages.Reservations.OnlineBookingModelCrud
@using System.Text.Json.Nodes
@using static System.Net.WebRequestMethods
@inject MudBlazor.IDialogService DialogService

@inject IJSRuntime jsruntime
@layout ClientLayout


@page "/"
<div style="margin-top:-4rem;">

	<section style="background-color:azure;">
		<div>
			<MudCarousel Class="mud-width-full" Style="height:500px;" ShowArrows="@arrows" ShowBullets="@bullets" EnableSwipeGesture="@enableSwipeGesture" AutoCycle="@autocycle" TData="object">
				<MudCarouselItem Transition="transition" Color="@Color.Primary">
					<div class="d-flex" style="height:100%">
						@* <MudIcon Class="mx-auto my-auto" Icon="@Icons.Custom.Brands.MudBlazor" Size="@Size.Large" /> *@
						<img src="/imgs/clientpotal/clienthomeimg/front1.jpeg" alt="Image 1" class="cover-photo mx-auto my-auto" style="max-width:100%; height:100%;" />

					</div>
				</MudCarouselItem>
				<MudCarouselItem Transition="transition" Color="@Color.Secondary">
					<div class="d-flex" style="height:100%">
						@* <MudIcon Class="mx-auto my-auto" Icon="@Icons.Custom.Brands.MudBlazor" Size="@Size.Large" /> *@
						<img src="/imgs/clientpotal/clienthomeimg/front2.jpeg" alt="Image 2" class="cover-photo mx-auto my-auto" style="max-width:100%; height:100%;" />

					</div>
				</MudCarouselItem>
				<MudCarouselItem Transition="transition">
					<div class="d-flex" style="height:100%">
						@* <MudIcon Class="mx-auto my-auto" Icon="@Icons.Custom.Brands.MudBlazor" Color="@Color.Primary" Size="@Size.Large" /> *@
						<img src="/imgs/clientpotal/clienthomeimg/front3.jpeg" alt="Image 3" class="cover-photo mx-auto my-auto" style="max-width:100%; height:100%;" />

					</div>
				</MudCarouselItem>
				<MudCarouselItem Transition="transition">
					<div class="d-flex" style="height:100%">
						@* <MudIcon Class="mx-auto my-auto" Icon="@Icons.Custom.Brands.MudBlazor" Color="@Color.Primary" Size="@Size.Large" /> *@
						<img src="/imgs/clientpotal/clienthomeimg/front4.jpeg" alt="Image 4" class="cover-photo mx-auto my-auto" style="max-width:100%; height:100%;" />

					</div>
				</MudCarouselItem>
			</MudCarousel>

		</div>

	</section>
	<section style="background-color:#344E41; margin-top:-2.1rem; height:3rem;">
		<div class="fixed-div" style="background-color:#344E41">
			<div class="nav-item px-3">
				<NavLink class="nav-link" href="/offers" Match="NavLinkMatch.All">
					<span class="bi bi-house-door-fill-nav-menu" style="color:#C5E1A5;" aria-hidden="true">OFFERS</span>
				</NavLink>
			</div>
			<div class="nav-item px-3">
				<NavLink class="nav-link" href="/experiences" Match="NavLinkMatch.All">
					<span class="bi bi-house-door-fill-nav-menu" style="color:#C5E1A5;" aria-hidden="true">EXPERIENCES</span>
				</NavLink>
			</div>
			<div class="nav-item px-3">
				<NavLink class="nav-link" href="/events" Match="NavLinkMatch.All">
					<span class="bi bi-house-door-fill-nav-menu" style="color:#C5E1A5;" aria-hidden="true">EVENT</span>
				</NavLink>
			</div>
			<div class="nav-item px-3">
				<NavLink class="nav-link" href="/esg" Match="NavLinkMatch.All">
					<span class="bi bi-house-door-fill-nav-menu" style="color:#C5E1A5;" aria-hidden="true">ESG</span>
				</NavLink>
			</div>
			<div class="nav-item px-3">
				<NavLink class="nav-link" href="/giftcards" Match="NavLinkMatch.All">
					<span class="bi bi-house-door-fill-nav-menu" style="color:#C5E1A5;" aria-hidden="true">GIFT CARDS</span>
				</NavLink>
			</div>
			<div class="nav-item px-3">
				<NavLink class="nav-link" href="/about-us" Match="NavLinkMatch.All">
					<span class="bi bi-house-door-fill-nav-menu" style="color:#C5E1A5;" aria-hidden="true">ABOUT US</span>
				</NavLink>
			</div>
			<div class="nav-item px-3">
				<NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
					<span class="bi bi-house-door-fill-nav-menu" style="color:#C5E1A5;" aria-hidden="true">BOOK DIRECT</span>
				</NavLink>
			</div>
		</div>

	</section>

	<section style="background-color: #A3B18A; margin-top: 0.4rem; padding: 10px; ">
		<div class="">
			<form class="con3-quckBooking-section3" action="/frontoffice" method="post" style="font-family: cursive;">
				<div class="position-absolute justify-content-center flex">
				
					<div style="margin-top: 0.5rem">
						<MudStack AlignItems="AlignItems.Center" Style="width:450px; height:50px; margin:-1rem;">
							<MudDateRangePicker PickerVariant="@_variant" @bind-DateRange="@_dateRange" Margin="Margin.Dense" Label="Select date range" />
							<MudSpacer />
							<MudToggleGroup T="PickerVariant" SelectionMode="SelectionMode.SingleSelection" Value="@_variant" ValueChanged="@OnValueChanged"
											Color="Color.Primary" CheckMark="true" FixedContent="false">

							</MudToggleGroup>
						</MudStack>
					</div>
					<span style="font-size:50px;margin-top:-1rem;">|</span>
					
					<div style="">
						<select style="height:3rem; background-color:transparent" @bind="onlineBookingModel.NoOfRooms"  required>
							<option>--Rooms--</option>
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
							<option>5</option>
						</select>
					</div>
					<div style="">
						<select style="height:3rem; background-color:transparent" @bind="onlineBookingModel.NoOfAdults" required>
							<option>--Adults--</option>
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
							<option>5</option>
						</select>
					</div>
					<div style="">
						
						<select style="height:3rem; background-color:transparent" @bind="onlineBookingModel.NoOfChildren" required>
							<option>--Children--</option>
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
							<option>5</option>
						</select>

					</div>
					<span style="font-size:50px;margin-top:-1rem;">|</span>
					<div style="">
						<input style="height:3rem; background-color:transparent" type="text" name="promoCode" @bind="onlineBookingModel.PramoCode" placeholder="Promo Code" />
					</div>
					<span style="font-size:50px;margin-top:-1rem;">|</span>
					<div style="">
						<input style="height:3rem; background-color:transparent" type="text" name="country"  placeholder="@UserCountry" readonly />

					</div>
					<span style="font-size:50px;margin-top:-1rem;">|</span>

					<div>
						<button class="btn btn-primary" @onclick="NavigateToCustomerDetails" style=" color:#C5E1A5; font-family: cursive; ">Booking</button>
					</div>
				</div>	
			</form>
		</div>

	</section>
	<section style="margin-top:-4rem; width: 100%;">
		<div class="" style=" display:flex ; font-family:'Lucida Sans Typewriter'; font-weight:bold	; margin-top:-2rem; justify-content:center">
			<div>


				<img style="width:550px; height:500px;" src="/imgs/maindashboard/logo.png" />
			</div>


		</div>
		<div style="font-family:'Lucida Sans Typewriter'; font-weight:bold	; margin-top:-2rem; justify-content:center; display:flex;">
			<div style="margin-top:-2rem; width:50%; font-size:16px;  font-weight: bold; color:white; backdrop-filter: blur(1rem); backdrop-filter:drop-shadow(20%);  justify-items: baseline ; background-color: rgba(0, 0, 0, 0.4);">
				<p style="">"Perched amidst the misty hills and emerald tea plantations of Nuwara Eliya, Solitary Green Resort offers a serene escape into nature’s embrace. This boutique retreat combines tranquility and elegance, featuring private terraces with breathtaking views of rolling landscapes and lush greenery. Immerse yourself in the cool mountain air, unwind in comfort, and experience the perfect blend of luxury and solitude in Sri Lanka’s scenic highlands."</p>

			</div>
		</div>

	</section>

	<section class="services-section">
		<div class="services-container">

			<button class="services-toggle" @onclick="ToggleExpand">
				@(expanded ? "Collapse" : "SERVICES & FACILITIES")
			</button>

			<div class="services-wrapper @(expanded ? "open" : "closed")">

				<div class="services-grid">
					@foreach (var service in servicesList)
					{
						<div class="service-card">
							<img src="@service.Img" alt="@service.Title" />
							<h3>@service.Title</h3>
							<p>@service.Desc</p>
						</div>
					}
				</div>

			</div>
		</div>
	</section>

	<style>
		.service-card:hover {
			transform: translateY(-5px);
			box-shadow: 0 8px 12px rgba(0,0,0,0.2);
		}

		

		.service-card {
			width: 100%;
		}

		
	</style>



	<section style="margin:0; padding:0; ">
		<div class="video-container" style="position:fixed; top:0; left:0; width:100vw; height:100vh; z-index:-1; overflow:hidden; backdrop-filter:blur(80px)">
			<video autoplay loop muted playsinline
				   style="width:100vw; height:100vh; object-fit:cover; backdrop-filter: brightness(50%);
						filter: blur(2px);">
				<source src="/video/clientportel/promovideo.mp4" type="video/mp4" />
			</video>
		</div>
	</section>

	<section>
	</section>

</div>


<style type="text/css">
	.con1-welcom-section1 {
		font-family: cursive;
		text-align: center;
	}

	.con2-selectbar-secton2 {
		display: flex;
		gap: 1rem;
		justify-content: center;
		height: 1rem;
	}

	.con3-quckBooking-section3 {
		display: flex;
		gap: 1rem;
		justify-content: center;
		height: 3rem;
		color: black;
	}

	.cover-photo {
		width: 100%;
		height: 100%;
		object-fit: cover; /* Ensures the image covers the entire container */
	}

	.bg-container-allSection {
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		width: 100vw;
		height: auto;
		display: flex;
		align-items: center;
		justify-content: center;
		color: black;
	}

	.services-section {
		background-color: #2E3A33;
		padding: 2rem;
		display: flex;
		justify-content: center;
	}

	.services-container {
		width: 100%;
		max-width: 1000px;
		background-color: #3E4C41;
		padding: 1.5rem;
		border-radius: 15px;
		box-shadow: 0 4px 10px rgba(0,0,0,0.3);
	}

	.services-toggle {
		width: 100%;
		padding: 1rem;
		background-color: transparent;
		border: 2px solid #C5E1A5;
		color: #C5E1A5;
		font-size: 1.5rem;
		font-family: cursive;
		border-radius: 10px;
		cursor: pointer;
		transition: 0.3s ease;
	}

		.services-toggle:hover {
			background-color: #C5E1A5;
			color: #2E3A33;
		}

	.services-wrapper {
		overflow: hidden;
		transition: max-height 0.6s ease, opacity 0.4s ease;
		margin-top: 1rem;
	}

		.services-wrapper.closed {
			max-height: 0;
			opacity: 0;
		}

		.services-wrapper.open {
			max-height: 2000px;
			opacity: 1;
		}

	.services-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
		gap: 1.5rem;
		padding-top: 1rem;
	}

	.service-card {
		background-color: #C5E1A5;
		border-radius: 1.5rem;
		padding: 1rem;
		text-align: center;
		box-shadow: 0 4px 6px rgba(0,0,0,0.15);
		transition: transform 0.3s, box-shadow 0.3s;
	}

		.service-card:nth-child(even) {
			background-color: antiquewhite;
		}

		.service-card:hover {
			transform: translateY(-6px) scale(1.03);
			box-shadow: 0 6px 12px rgba(0,0,0,0.25);
		}

		.service-card img {
			width: 50px;
			height: 50px;
			margin-bottom: 0.5rem;
		}

		.service-card h3 {
			font-size: 16px;
			font-weight: bold;
			margin-bottom: 0.3rem;
			color: #2E3A33;
		}

		.service-card p {
			font-size: 14px;
			color: #333;
		}


</style>

@inject IJSRuntime JS
@inject HttpClient http
@inject NavigationManager navManager

@code {
	public CustomerUsePcInfoDto CustomerUsePcInfoDto = new CustomerUsePcInfoDto();
	public OnlineBookingModel onlineBookingModel = new OnlineBookingModel();
	public string? UserCountry;
	// private DropdownWidth _dropdownWidth ;
	public OnlineBookingModel onlineBooking = new();
	private bool arrows = true;
	private bool bullets = true;
	private bool enableSwipeGesture = true;
	private bool autocycle = true;
	private Transition transition = Transition.Fade;
	private PickerVariant _variant = PickerVariant.Dialog;
	private DateRange? _dateRange { get; set; }
	public JsonNode Errors { set; get; } = new JsonObject();

	private bool expanded = false;

	private void ToggleExpand()
	{
		expanded = !expanded;
	}
	private (string Img, string Title, string Desc)[] servicesList =
	{
		("/imgs/clientpotal/clienthomeimg/marketeq--wifi.png", "WiFi", "Available throughout hotel."),
		("/imgs/clientpotal/clienthomeimg/equptment.png","Equipment","Bicycles & snorkelling gear for guests’ use."),
		("/imgs/clientpotal/clienthomeimg/sweming.png","Swimming Pools","Two gorgeous pools with views."),
		("/imgs/clientpotal/clienthomeimg/parking.png","Secure Parking","Available outside."),
		("/imgs/clientpotal/clienthomeimg/spa.png","La Parenthèse","Spa services for full relaxation."),
		("/imgs/clientpotal/clienthomeimg/laudary.png","Laundry Services","Available on request."),
		("/imgs/clientpotal/clienthomeimg/houseKeping.png","Housekeeping","Offered daily."),
		("/imgs/clientpotal/clienthomeimg/Lounging.png","Lounging","Sunbeds, hammocks and loungers.")
	};

	protected async override Task OnInitializedAsync()
	{

		try
		{
			var result = await http.GetFromJsonAsync<CustomerUsePcInfoDto>(
				"https://localhost:4000/api/Geo/country"
			);

			if (result != null)
			{
				UserCountry = result.Country;

			}
			else
			{
				UserCountry = "Unknown";
			}
		}
		catch (Exception ex)
		{
			Console.WriteLine($"Error fetching country info: {ex.Message}");
			UserCountry = "Unknown";
		}
	}
	private void OnValueChanged(PickerVariant variant)
	{
		_dateRange = null;
		_variant = variant;
	}
	private string? stringValue { get; set; }

	private string? userInput { get; set; }
	private string? promoCodeInput { get; set; }

	bool _expanded = true;

	private void OnExpandCollapseClick()
	{
		_expanded = !_expanded;
	}

	public string? VideoSource = "images/ClientHomeVideo/video.mp4";



	private void NavigateToCustomerDetails(MouseEventArgs args)
	{
		var queryParams = new Dictionary<string, object?>
		{
			["country"] = UserCountry,
			["checkIn"] = _dateRange?.Start?.ToString("yyyy-MM-dd"),
			["checkOut"] = _dateRange?.End?.ToString("yyyy-MM-dd"),
			["rooms"] = onlineBookingModel.NoOfRooms,
			["adults"] = onlineBookingModel.NoOfAdults,
			["children"] = onlineBookingModel.NoOfChildren,
			["pramoCode"] = onlineBookingModel.PramoCode
		};

		var uri = navManager.GetUriWithQueryParameters("/Reservations/OnlineBookingModel/CustomerDetailsForm", queryParams);
		navManager.NavigateTo(uri);
	}
}