@page "/directbookingmodels/details"
@using Microsoft.EntityFrameworkCore
@using ERPResturentManagementServerAuth.Model.Reservation
@inject IDbContextFactory<ERPResturentManagementServerAuth.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>DirectBookingModel</h2>
    <hr />
    @if (directbookingmodel is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">FirstName</dt>
            <dd class="col-sm-10">@directbookingmodel.FirstName</dd>
            <dt class="col-sm-2">LastName</dt>
            <dd class="col-sm-10">@directbookingmodel.LastName</dd>
            <dt class="col-sm-2">PhoneNumber</dt>
            <dd class="col-sm-10">@directbookingmodel.PhoneNumber</dd>
            <dt class="col-sm-2">DathOfBirth</dt>
            <dd class="col-sm-10">@directbookingmodel.DathOfBirth</dd>
            <dt class="col-sm-2">Address</dt>
            <dd class="col-sm-10">@directbookingmodel.Address</dd>
            <dt class="col-sm-2">EmailAddress</dt>
            <dd class="col-sm-10">@directbookingmodel.EmailAddress</dd>
            <dt class="col-sm-2">NIC</dt>
            <dd class="col-sm-10">@directbookingmodel.NIC</dd>
            <dt class="col-sm-2">CreditLimit</dt>
            <dd class="col-sm-10">@directbookingmodel.CreditLimit</dd>
            <dt class="col-sm-2">OpeningBalanace</dt>
            <dd class="col-sm-10">@directbookingmodel.OpeningBalanace</dd>
            <dt class="col-sm-2">CustomerTypeId</dt>
            <dd class="col-sm-10">@directbookingmodel.CustomerTypeId</dd>
            <dt class="col-sm-2">Nationality</dt>
            <dd class="col-sm-10">@directbookingmodel.Nationality</dd>
            <dt class="col-sm-2">Remark</dt>
            <dd class="col-sm-10">@directbookingmodel.Remark</dd>
        </dl>
        <div>
            <a href="@($"/directbookingmodels/edit?id={directbookingmodel.Id}")">Edit</a> |
            <a href="@($"/directbookingmodels")">Back to List</a>
        </div>
    }
</div>

@code {
    private DirectBookingModel? directbookingmodel;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        directbookingmodel = await context.DirectBookingModel.FirstOrDefaultAsync(m => m.Id == Id);

        if (directbookingmodel is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
