@using MudBlazor

<div class="top-row navbar navbar-dark ps-3">
    <div class="container-fluid">
		
        <a class="navbar-brand" href="">Solitary Green Resorts</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>
<style>
    .navbar1{
        backdrop-filter:blur(100px);
        box-shadow:0px 0px 30px blue;
        border:2px solid black;
        
    }
</style>
<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column navbar1">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Reservations/Dashboard" Match="NavLinkMatch.All">
                <span class="bi bi-speedometer2 fs-4" aria-hidden="true"></span> Dashboard
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Reservations">
                <span class="bi bi-bag-plus-fill fs-4" aria-hidden="true"></span> Reservation
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Reservations/CheckInOut">
                <span class="bi bi-building-fill-check fs-4" aria-hidden="true"></span> Check-In & Check-Out
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Reservations/Inhouse">
                <span class="bi bi-house-exclamation-fill fs-4" aria-hidden="true"></span> Inhouse
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Reservations/HouseKeeping">
                <span class="bi bi-house-heart fs-4" aria-hidden="true"></span> House-keeping
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/SmartSalesBilling">
                <span class="bi bi-receipt-cutoff fs-4" aria-hidden="true"></span> Smart sales & Billing
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Reservations/StockManagement">
                <span class="bi bi-bag-check-fill fs-4" aria-hidden="true"></span> Stock & Inventory
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Reservations/AssetsManagement">
                <span class="bi bi-wrench-adjustable-circle fs-4" aria-hidden="true"></span> Assets Management
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Administration">
                <span class="bi bi-file-earmark-person-fill fs-4" aria-hidden="true"></span> Administration
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/ClientManagement">
                <span class="bi bi-person-vcard fs-4" aria-hidden="true"></span> Client Management
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/UserManagement">
                <span class="bi bi-shield-lock fs-4" aria-hidden="true"></span> User Management
            </NavLink>
        </div>
    </nav>
</div>

@* <MudPaper Height="200px" Style="overflow:hidden; position:relative;">
    <MudDrawerContainer Class="mud-height-full">
        <MudDrawer @bind-Open="@_open" Fixed="false" Elevation="1" Variant="@DrawerVariant.Mini" OpenMiniOnHover="true">
            <MudNavMenu>
                <MudNavLink Match="NavLinkMatch.All" Href="" Icon="@Icons.Material.Filled.DashboardCustomize">Dashboard</MudNavLink>
                <MudNavLink Match="NavLinkMatch.All" Href="/Reservations" Icon="@Icons.Material.Filled.MapsHomeWork">Reservation</MudNavLink>
                <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.MapsUgc">Check-In & Check-Out</MudNavLink>
                <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.MapsUgc">Inhouse</MudNavLink>
                <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.MapsUgc">House-keeping</MudNavLink>
                <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.MapsUgc">Smart sales & Billing</MudNavLink>
                <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.MapsUgc">Stock & Inventory</MudNavLink>
                <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.MapsUgc">Assets Management</MudNavLink>
                <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.MapsUgc">Client Management</MudNavLink>
                <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.MapsUgc">User Management</MudNavLink>
               
            </MudNavMenu>
        </MudDrawer>
        <div class="d-flex align-center mud-height-full justify-center">
            <MudButton OnClick="@ToggleDrawer" Color="Color.Primary">Toggle</MudButton>
        </div>
    </MudDrawerContainer>
</MudPaper> *@

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
