@page "/Administration/ManageRooms/Create"

@using ResortManagementApp.Models.Administration.DTOS
@using ResortManagementApp.Models.Administration.ManageRooms
@using ResortManagementApp.Models.Reservation.DTO
@using ResortManagementApp.Models.Reservation
@using System.Text.Json.Nodes
@using ResortManagementApp.Pages.ComponentCss

@layout MainLayout
<div>
    <h3 class="card mb-3 text-center">Add New Room</h3>
</div>
<div class="col-lg-8">
    <h1 class="mb-5">New Room</h1>
</div>

<form class="form flex-wrap" style="background-color: antiquewhite; margin-left: 0.5rem;">
    @if (RoomsDtos == null)
    {
        <p><Searching /></p>
    }

    <div class="justify-content-around flex flex-wrap">
        <!-- Left Column -->
        <div class="">
            <div class="row mb-3">
                <label class="col-md-3 col-form-label">Room Id</label>
                <div class="col-md-6" style="background-color: antiquewhite;">
                    <input class="form-control" type="text" @bind="RoomsDtos.RoomId" />
                    <span class="text-danger">@Errors["RoomId"]?[0]</span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-md-3 col-form-label">Room Type</label>
                <div class="col-md-6">
                    <input class="form-control" type="text" @bind="RoomsDtos.RoomType" />
                    <span class="text-danger">@Errors["RoomType"]?[0]</span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-md-3 col-form-label">Room Floor</label>
                <div class="col-md-6">
                    <input class="form-control" type="number" @bind="RoomsDtos.RoomFloor" />
                    <span class="text-danger">@Errors["RoomFloor"]?[0]</span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-md-2 col-form-label">Room Status</label>
                <div class="col-md-6" style="margin-left:2.2rem;">
                    <textarea class="form-control" @bind="RoomsDtos.RoomStatus"></textarea>
                    <span class="text-danger">@Errors["RoomStatus"]?[0]</span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-md-2 col-form-label">Maintain Status</label>
                <div class="col-md-6" style="margin-left:2.2rem;">
                    <input class="form-control" type="text" @bind="RoomsDtos.MaintainStatus" />
                    <span class="text-danger">@Errors["MaintainStatus"]?[0]</span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-md-2 col-form-label">Maximum Occupancy</label>
                <div class="col-md-6" style="margin-left:2.2rem;">
                    <input class="form-control" type="number" @bind="RoomsDtos.MaximumOccupancy" />
                    <span class="text-danger">@Errors["MaximumOccupancy"]?[0]</span>
                </div>
            </div>
        </div>

        <!-- Right Column -->
        <div class="">
            <div class="row mb-3">
                <label class="col-md-3 col-form-label">Last Cleaned Date</label>
                <div class="col-md-6 inp">
                    <input class="form-control" type="date" @bind="RoomsDtos.LastCleanedDate" />
                    <span class="text-danger">@Errors["LastCleanedDate"]?[0]</span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-md-3 col-form-label">Last Cleaned By</label>
                <div class="col-md-6 inp">
                    <input class="form-control" type="text" @bind="RoomsDtos.LastCleanedBy" />
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-md-3 col-form-label">Maintenance Comment</label>
                <div class="col-md-6 inp">
                    <input class="form-control" type="text" @bind="RoomsDtos.MaintenanceComment" />
                    <span class="text-danger">@Errors["MaintenanceComment"]?[0]</span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-md-3 col-form-label">Additional Details</label>
                <div class="col-md-6 inp">
                    <input class="form-control" type="text" @bind="RoomsDtos.AdditionalDetails" />
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-md-3 col-form-label">Room Display Title</label>
                <div class="col-md-6 inp">
                    <textarea class="form-control" @bind="RoomsDtos.RoomDisplayTitle"></textarea>
                </div>
            </div>
        </div>

        <!-- Action Buttons -->
        <div class="" style="display:flex; flex-direction: column; gap: 1rem;">
            <div class="offset-md-1 col-md-3 d-grid">
                <button class="btn btn-success fw-bold" style="width:8rem;" type="button" @onclick="CreateRoom">Add</button>
            </div>
            <div class="offset-md-1 col-md-3 d-grid">
                <button class="btn btn-warning fw-bold" style="width:8rem;" type="reset">Clear</button>
            </div>
            <div class="offset-md-1 col-md-3 d-grid">
                <a class="btn btn-primary fw-bold" style="width:8rem;" href="/Administration/ManageRooms">Back</a>
            </div>
        </div>
    </div>
</form>




<style>
		.form {
	  display: flex;
	  flex-direction: column;
	  background-color:transparent;
	  color:black;
	  width:80%;
	  font-weight: bold;
	  height: fit-content;
	}
	.inp{
		margin-left:3rem;
	}
</style>

@inject HttpClient http
@inject NavigationManager navManager
@code {
	public JsonNode Errors { get; set; } = new JsonObject();
	public Rooms? Rooms { get; set; } = new();
	public RoomsDto RoomsDtos { get; set; } = new();

	private async Task CreateRoom(MouseEventArgs args)
	{
		var response = await http.PostAsJsonAsync("https://localhost:4000/api/Rooms", RoomsDtos);
		if (response.IsSuccessStatusCode) { navManager.NavigateTo("/Administration/ManageRooms");}

		var strResponce = await response.Content.ReadAsStringAsync();
		Console.WriteLine("Json Response :" + strResponce);

		try
		{
			var jsonResponce = JsonNode.Parse(strResponce);
			Errors = jsonResponce?["errors"] ?? new JsonObject();
		}
		catch (Exception ex)
		{
			Console.WriteLine(ex.Message);
		}
	}
}

