@page "/Administration/Edit/{Id:guid}"

@using ResortManagementApp.Models.Administration.DTOS
@using ResortManagementApp.Models.Reservation.DTO
@using ResortManagementApp.Models.Reservation
@using System.Text.Json.Nodes

@layout MainLayout
<div>
	<h3 class="card mb-3 text-center">Edit Customer</h3>
</div>
<div class="col-lg-8">
	<h1 class="mb-5">Edit Customer</h1>
</div>
<form class="row form" style="height:43rem">
	@if (ManageRooms == null)
	{
		<p><em>Loading...</em></p>
	}
	<div class="row mb-3">
		<label class="col-md-2 col-form-label">Room Id</label>
		<div class="col-md-6" style="background-color:antiquewhite">
			<input class="form-control-plaintext" value="@Id" readonly>
			<span class="text-danger">@Errors["RoomId"]?[0]</span>
		</div>
	</div>
	<div class="flex">
		<div class="row mb-3">
			<label class="col-md-5 col-form-label">Room Type</label>
			<div class="col-md-4">
				<input style="margin-left:1.9rem;width:9rem" class="form-control" @bind="RoomsDtos.RoomType">
				<span class="text-danger">@Errors["RoomType"]?[0]</span>
			</div>
		</div>
		<div class="row mb-4">
			<label style="margin-left:1.9rem" class="col-md-3 col-form-label">Room Floor</label>
			<div class="col-md-7">
				<input class="form-control" @bind="RoomsDtos.RoomFloor">
				<span class="text-danger">@Errors["RoomFloor"]?[0]</span>

			</div>
		</div>
	</div>

	<div class="row mb-3">
		<label class="col-md-2 col-form-label">Room Status</label>
		<div class="col-md-6">
			<textarea class="form-control" @bind="RoomsDtos.RoomStatus"></textarea>
			<span class="text-danger">@Errors["RoomStatus"]?[0]</span>

		</div>
	</div><div class="row mb-3">
		<label class="col-md-2 col-form-label">Maintain Status</label>
		<div class="col-md-6">
			<input class="form-control" type="number" @bind="RoomsDtos.MaintainStatus">
			<span class="text-danger">@Errors["MaintainStatus"]?[0]</span>

		</div>
	</div>
	<div class="row mb-3">
		<label class="col-md-2 col-form-label">Maximum Occupancy</label>
		<div class="col-md-6">
			<input class="form-control" type="email" @bind="RoomsDtos.MaximumOccupancy">
			<span class="text-danger">@Errors["MaximumOccupancy"]?[0]</span>

		</div>
	</div>
	<div class="row mb-3">
		<label class="col-md-2 col-form-label">Last Cleaned Date</label>
		<div class="col-md-6">
			<input class="form-control" @bind="RoomsDtos.LastCleanedDate">
			<span class="text-danger">@Errors["LastCleanedDate"]?[0]</span>

		</div>
	</div>

	<div class="row mb-3">
		<label class="col-md-2 col-form-label">Last Cleaned By</label>
		<div class="col-md-6">
			<input class="form-control" type="date" @bind="RoomsDtos.LastCleanedBy">
		</div>
	</div>
	<div class="row mb-3">
		<label class="col-md-2 col-form-label">Maintenance Comment</label>
		<div class="col-md-6">
			<input class="form-control" @bind="RoomsDtos.MaintenanceComment">
			<span class="text-danger">@Errors["MaintenanceComment"]?[0]</span>

		</div>
	</div>
	<div class="row mb-3">
		<label class="col-md-2 col-form-label">Additional Details</label>
		<div class="col-md-6">
			<input class="form-control" type="number" @bind="RoomsDtos.AdditionalDetails">
		</div>
	</div>
	<div class="row mb-3">
		<label class="col-md-2 col-form-label">Room Display Title</label>
		<div class="col-md-6">

			<textarea class="form-control" @bind="RoomsDtos.RoomDisplayTitle"></textarea>
		</div>
	</div>
	<div style="margin-top:-28rem;">
		<div class="row gap-2" style="justify-content:right; margin-top:-10rem;">

			<div class="offset-md-4 col-md-4 d-grid">
				<button class="btn btn-success fw-bold" type="button" @onclick="UpdateRooms">Update Details</button>
			</div>
			<div class="offset-md-4 col-md-4 d-grid">
				<button class="btn btn-warning fw-bold" type="reset">Clear</button>
			</div>
			<div class="offset-md-4 col-md-4 d-grid">
				<a class="btn btn-primary fw-bold" href="/Reservations/DirectBooking">Back</a>
			</div>
		</div>
	</div>

</form>
<style>
	.form {
		display: flex;
		flex-direction: column;
		background-color: transparent;
		color: black;
		width: 60rem;
		margin: 1rem;
		font-weight: bold;
	}
</style>
@code {
	[Parameter]
	public Guid Id { get; set; }
	public JsonNode Errors { get; set; } = new JsonObject();
	public ManageRooms? ManageRooms { get; set; }
	public RoomsDto? RoomsDtos { get; set; }
	private Task UpdateRooms(MouseEventArgs args)
	{
		throw new NotImplementedException();
	}
}
