@page "/ClientManagement/Client/ClientIndex"
@using ResortManagementApp.Models.ClientManagement.Message
@using ResortManagementApp.Models.Reservation
@using ResortManagementApp.Models.Reservation.DTO
@using ResortManagementApp.Models.Reservation.OnlineBooking
@using ResortManagementApp.Pages.ComponentCss
@inject HttpClient Http
@layout MainLayout
<div class="flex flex-wrap">
	<div >
		<div>
			<h3 class="mb-3 text-center">Direct Booking</h3>
		</div>
		<div class="flex flex-wrap">
			<div class="justify-content-end flex flex-wrap">
				<div>
					<select id="type" class="form-select" @bind="MessageDtos.Type">
						<option>SMS</option>
						<option>Email</option>
					</select>
				</div>
				<div>
					<textarea @bind="MessageDtos.Messages" placeholder="Enter Message" class="form" style="background-color: oldlace; width: 250px; color: black" ></textarea>
				</div>
				<div style="display:flex; flex-direction: column; gap:0.3rem;">
					<div class="">
						<button class="btn btn-success" type="button" @onclick="SentSMS">Sent SMS</button>
					</div>
					<div class="">
						<button class="btn btn-success" type="button" @onclick="SentEmail">Sent Email</button>
					</div>
				</div>
			</div>
		</div>
		<div>

			<div>
				<a href="/ClientManagement/Create" class="btn btn-primary mb-3">Add Customer</a>
			</div>

		</div>

		<div class="">
			@if (directBookingModels == null)
			{
				<p><Searching /></p>

			}
			<table class="table">
				<thead class="bg-light">
					<tr class="table">
						<td>Name</td>
						<td>Phone Number</td>
						<td>Address</td>
						<td>EmailAddress</td>
						<td>NIC</td>
						<td>Nationality</td>
						<td>Remark</td>
						<td>Actions</td>

					</tr>
				</thead>
				<tbody class="bg-light">
					@if (directBookingModels == null)
					{
						<p><Searching /></p>

					}
					@foreach (var item in directBookingModels)
					{
						<tr>
							<th>@(item.FirstName + " " + @item.LastName)</th>

							<th>@item.PhoneNumber</th>
							<th>@item.Address</th>
							<th>@item.EmailAddress</th>
							<th>@item.NIC</th>
							<th>@item.Nationality</th>
							<th>@item.Remark</th>
							<th style="white-space:nowrap">
								<button class="btn btn-outline-danger btn-sm" @onclick="ClickMassage"><img height="25" src="/imgs/img/sent.png" /></button>
								<a class="btn btn-outline-danger btn-sm" href="/ClientManagement/AdvancePay/@item.Id">Advance Pay</a>
								<a class="btn btn-primary btn-sm" href="/ClientManagement/DirectEdit/@item.Id">Edit</a>
								<a class="btn btn-danger btn-sm" href="/ClientManagement/DirectDelete/@item.Id">Delete</a>
							</th>
							
						</tr>
					}
				</tbody>

			</table>

		</div>
		<div>
			<h3 class="mb-3 text-center">Online Booking</h3>
		</div>
		<div>
			@if (directBookingModels == null)
			{
				<p><Searching /></p>

			}
			<table class="table">
				<thead class="bg-light">
					<tr class="table">
						<td>Name</td>
						<td>Phone Number</td>
						<td>Address</td>
						<td>EmailAddress</td>
						<td>NIC</td>
						<td>Nationality</td>
						<td>Remark</td>
						<td>Actions</td>

					</tr>
				</thead>
				<tbody class="bg-light">
					@if (directBookingModels == null)
					{
						<p><Searching /></p>
					}
					@foreach (var item in directBookingModels)
					{
						<tr>
							<th>@(item.FirstName + " " + @item.LastName)</th>
							<th>@item.PhoneNumber</th>
							<th>@item.Address</th>
							<th>@item.EmailAddress</th>
							<th>@item.NIC</th>
							<th>@item.Nationality</th>
							<th>@item.Remark</th>
							<th style="white-space:nowrap">
								<a class="btn btn-outline-danger btn-sm" href="/ClientManagement/AdvancePay/@item.Id">Advance Pay</a>
								<a class="btn btn-primary btn-sm" href="/Reservations/Edit/@item.Id">Edit</a>
								<a class="btn btn-danger btn-sm" href="/Reservations/Delete/@item.Id">Delete</a>
							</th>

						</tr>
					}
				</tbody>

			</table>
		</div>
		<div>
			<h3 class="mb-3 text-center">Agent Booking</h3>
		</div>
		<div>
			<a href="/ClientManagement/Create" class="btn btn-primary mb-3">Add Customer</a>
		</div>
		<div>
			@if (directBookingModels == null)
			{
				<p><Searching /></p>

			}
			<table class="table">
				<thead class="bg-light">
					<tr class="table">
						<td>Name</td>
						<td>Phone Number</td>
						<td>Address</td>
						<td>EmailAddress</td>
						<td>NIC</td>
						<td>Nationality</td>
						<td>Remark</td>
						<td>Actions</td>

					</tr>
				</thead>
				<tbody class="bg-light">
					@if (directBookingModels == null)
					{
						<p><Searching /></p>
					}
					@foreach (var item in directBookingModels)
					{
						<tr>
							<th>@(item.FirstName + " " + @item.LastName)</th>
							<th>@item.PhoneNumber</th>
							<th>@item.Address</th>
							<th>@item.EmailAddress</th>
							<th>@item.NIC</th>
							<th>@item.Nationality</th>
							<th>@item.Remark</th>
							<th style="white-space:nowrap">
								<a class="btn btn-outline-danger btn-sm" href="/ClientManagement/AdvancePay/@item.Id">Advance Pay</a>
								<a class="btn btn-primary btn-sm" href="/Reservations/Edit/@item.Id">Edit</a>
								<a class="btn btn-danger btn-sm" href="/Reservations/Delete/@item.Id">Delete</a>
							</th>

						</tr>
					}
				</tbody>

			</table>
		</div>
	</div>
</div>
@code {
	public List<DirectBookingModel>? directBookingModels { get; set; }
	public List<OnlineBooking>? OnlineBookings { get; set; }
	public List<OnlineBookingDto>? OnlineBookingsDto { get; set; }
	public List<Message>? Messages { get; set; }
	public MessageDto MessageDtos { get; set; } = new();
	[Inject] private IJSRuntime JS { get; set; }

	protected override async Task OnInitializedAsync()
	{
		directBookingModels = await Http.GetFromJsonAsync<List<DirectBookingModel>>("https://localhost:4000/api/DirectBooking");
	}
	private Task SentSMS(MouseEventArgs args)
	{
		throw new NotImplementedException();
	}
	private Task SentEmail(MouseEventArgs args)
	{
		throw new NotImplementedException();
	}
	private async Task ClickMassage(MouseEventArgs args)
	{
		await JS.InvokeVoidAsync("focusElement", "type");
		throw new NotImplementedException();
	}
}
