@page "/ClientManagement/Client/Create"

@using System.Text.Json.Nodes
@using ResortManagementApp.Models.ClientManagement.Client
@using ResortManagementApp.Models.SmartSales
@using ResortManagementApp.Models.SmartSales.Dtos
@using ResortManagementApp.Pages.ComponentCss


@layout MainLayout
<div>
	<h3 class="card mb-3 text-center">Expenses</h3>
</div>

<form class="form flex-wrap" style="  background-color:antiquewhite; margin-left: 0.5rem;">
	@if (ClientDto == null)
	{
		<p><Searching /></p>
	}

	<div class="justify-content-around flex flex-wrap">
		<div class="">
			<div class="row mb-3">
				<label class="col-md-4 col-form-label">First Name</label>
				<div class="col-md-6" style="background-color:antiquewhite">
					<input class="form-control" type="text" @bind="ClientDto.FirstName">
					<span class="text-danger">@Errors["FirstName"]?[0]</span>
				</div>
			</div>
			<div class="row mb-3">
				<label class="col-md-4 col-form-label">Last Name</label>
				<div class="col-md-6">
					<input class="form-control" type="text" @bind="ClientDto.LastName">
					<span class="text-danger">@Errors["LastName"]?[0]</span>
				</div>
			</div>
			<div class="row mb-3">
				<label style="" class="col-md-4 col-form-label">Phone Number</label>
				<div class="col-md-6">
					<input class="form-control" type="number" @bind="ClientDto.PhoneNumber">
					<span class="text-danger">@Errors["PhoneNumber"]?[0]</span>

				</div>
			</div>
			<div class="row mb-3">
				<label style="" class="col-md-4 col-form-label">NIC</label>
				<div class="col-md-6">
					<input class="form-control" type="text" @bind="ClientDto.NIC">
					<span class="text-danger">@Errors["NIC"]?[0]</span>

				</div>
			</div>
			
			<div class="row mb-3">
				<label style="" class="col-md-4 col-form-label">Email</label>
				<div class="col-md-6">
					<input class="form-control" type="email" @bind="ClientDto.Email">
					<span class="text-danger">@Errors["Email"]?[0]</span>

				</div>
			</div>
		</div>
		<div class="row mb-3">
			<label style="" class="col-md-4 col-form-label">Note </label>
			<div class="col-md-6">
				
				<textarea class="form-control" type="text" @bind="ClientDto.Remark" style="width: 20rem;">

				</textarea>
				<span class="text-danger">@Errors["Remark"]?[0]</span>

			</div>
			

		</div>
		<div class="" style="display:flex; flex-direction: column; gap: 1rem;">

			<div class="offset-md-1 col-md-3 d-grid" style="">
				<button class="btn btn-success fw-bold" style="width:8rem;" type="button" @onclick="CreateExpence">Add</button>
			</div>
			<div class="offset-md-1 col-md-3 d-grid">
				<button class="btn btn-warning fw-bold" style="width:8rem;" type="reset">Clear</button>
			</div>
			<div class="offset-md-1 col-md-3 d-grid">
				<a class="btn btn-primary fw-bold" style="width:8rem;" href="/ClientManagement">Back</a>
			</div>
		</div>
	</div>
</form>


<style>
	.form {
		display: flex;
		flex-direction: column;
		background-color: transparent;
		color: black;
		width: 100%;
		font-weight: bold;
		height: fit-content;
	}

	.inp {
		margin-left: 3rem;
	}
</style>

@code {
	public JsonNode Errors { get; set; } = new JsonObject();
	public List<Client>? Clients { get; set; }
	public ClientDto ClientDto { get; set; } = new();

	protected override void OnInitialized()
	{
		base.OnInitialized();
	}
	private Task CreateExpence(MouseEventArgs args)
	{
		throw new NotImplementedException();
	}
}
