@page "/ClientManagement/Client/Edit/{Id:guid}"

@using System.Text.Json.Nodes
@using ResortManagementApp.Models.ClientManagement.Client
@using ResortManagementApp.Models.SmartSales
@using ResortManagementApp.Models.SmartSales.Dtos
@using ResortManagementApp.Pages.ComponentCss


@layout MainLayout
<div class="card p-3">
    <h3 class="mb-3 text-center">Expenses Update</h3>

    <form class="form p-3" style="background-color: antiquewhite;">
        @if (ClientDto == null)
        {
            <p><em>Loading client details...</em></p>
        }
        else
        {
            <!-- Customer Id -->
            <div class="row mb-3">
                <label class="col-md-4 col-form-label">Customer Id</label>
                <div class="col-md-6">
                    <input class="form-control-plaintext" value="@Id" readonly />
                    <span class="text-danger">@Errors["FirstName"]?[0]</span>
                </div>
            </div>

            <!-- Client Details -->
            <div class="row mb-3">
                <label class="col-md-4 col-form-label">First Name</label>
                <div class="col-md-6">
                    <input class="form-control" type="text" @bind="ClientDto.FirstName" />
                    <span class="text-danger">@Errors["FirstName"]?[0]</span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-md-4 col-form-label">Last Name</label>
                <div class="col-md-6">
                    <input class="form-control" type="text" @bind="ClientDto.LastName" />
                    <span class="text-danger">@Errors["LastName"]?[0]</span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-md-4 col-form-label">Phone Number</label>
                <div class="col-md-6">
                    <input class="form-control" type="number" @bind="ClientDto.PhoneNumber" />
                    <span class="text-danger">@Errors["PhoneNumber"]?[0]</span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-md-4 col-form-label">NIC</label>
                <div class="col-md-6">
                    <input class="form-control" type="text" @bind="ClientDto.NIC" />
                    <span class="text-danger">@Errors["NIC"]?[0]</span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-md-4 col-form-label">Email</label>
                <div class="col-md-6">
                    <input class="form-control" type="email" @bind="ClientDto.EmailAddress" />
                    <span class="text-danger">@Errors["Email"]?[0]</span>
                </div>
            </div>

            <!-- Notes -->
            <div class="row mb-3">
                <label class="col-md-4 col-form-label">Note</label>
                <div class="col-md-6">
                    <textarea class="form-control" @bind="ClientDto.Remark" rows="3"></textarea>
                    <span class="text-danger">@Errors["Remark"]?[0]</span>
                </div>
            </div>

            <!-- Action Buttons -->
            <div class="d-flex mt-3 gap-2">
                <button class="btn btn-success fw-bold" type="button" @onclick="UpdateUser">Update</button>
                <button class="btn btn-warning fw-bold" type="reset">Clear</button>
                <a class="btn btn-primary fw-bold" href="/ClientManagement">Back</a>
            </div>
        }
    </form>
</div>


<style>
	.form {
		display: flex;
		flex-direction: column;
		background-color: transparent;
		color: black;
		width: 100%;
		font-weight: bold;
		height: fit-content;
	}

	.inp {
		margin-left: 3rem;
	}
</style>

@code {
	[Parameter]
	public Guid Id { get; set; }

	public JsonNode Errors { get; set; } = new JsonObject();
	public ClientModel? ClientDto { get; set; } = new();

	

	protected override void OnInitialized()
	{
		base.OnInitialized();
	}
	
	private Task UpdateUser(MouseEventArgs args)
	{
		throw new NotImplementedException();
	}
}
