@page "/Reservations"
@using ResortManagementApp.Models.Reservation
@inject HttpClient Http

@layout MainLayout

<div>
	<h3 class="mb-3 text-center">Reservation Management</h3>
</div>
<div class="flex">
	<div>
		<a href="/Reservations/DirectBooking" class="btn btn-primary mb-3">Direct Booking</a>
	</div>
	<div>
		<a href="/Reservations/AgentBooking" class="btn btn-primary mb-3">Agent via Booking</a>
	</div>
	<div>
		<a href="/Reservations/OnlineBooking" class="btn btn-primary mb-3">Online Booking</a>
	</div>
</div>
<div>
	@if(directBookingModels == null)
	{
		<p><em>Loading...</em></p>
	}
	else
	{
		<table class="table">
			<thead>
				<tr class="table">
					<td>Name</td>
					<td>Phone Number</td>
					<td>Address</td>
					<td>EmailAddress</td>
					<td>NIC</td>
					<td>Customer Type</td>
					<td>CreditLimit</td>
					<td>OpeningBalanace</td>
					<td>Nationality</td>
					<td>Remark</td>


				</tr>
			</thead>
			<tbody>
				@foreach (var item in directBookingModels)
				{
					<tr>
						<th>@(item.FirstName + " " + @item.LastName)</th>

						<th>@item.PhoneNumber</th>
						<th>@item.Address</th>
						<th>@item.EmailAddress</th>
						<th>@item.NIC</th>
						<td>@item.CustomerType</td>
						<th>@item.CreditLimit</th>
						<th>@item.OpeningBalanace</th>
						<th>@item.Nationality</th>
						<th>@item.Remark</th>


					</tr>
				}
			</tbody>

		</table>
	}
	
</div>

@code {
	private List<DirectBookingModel>? directBookingModels;
	protected override async Task OnInitializedAsync()
	{
		try
		{
			directBookingModels = await Http.GetFromJsonAsync<List<DirectBookingModel>>("https://localhost:4000/api/DirectBooking");

		}
		catch (Exception ex)
		{
			Console.WriteLine("Error Massage : " + ex.Message);
		}
	}
}
