@page "/Administration/ManagePackages"
@using ResortManagementApp.Models.Administration.DTOS
@using ResortManagementApp.Models.Administration.ManageRooms
@using ResortManagementApp.Pages.ComponentCss
@layout MainLayout

<div>
	<h3 class="mb-3 text-center">Manage Packages</h3>
</div>
<div>
	<div>
		<div>
			<div>
				<a href="/Administration/ManagePackages/Create" class="btn btn-primary mb-3">Add New Package</a>
			</div>
			<div>
				<a href="/Administration" class="btn btn-primary mb-3">Back</a>
			</div>
		</div>
		<div>
			@if (PackagesDtos == null)
			{
				<Searching />
			}
			<table class="table">
				<thead class="bg-light">
					<tr class="table">
						<td>Package Name</td>
						<td>Basis</td>
						<td>Package Details</td>
						<td>Room Rate Autumn</td>
						<td>Room Rate Spring</td>
						<td>Room Rate Summer</td>
						<td>Room Rate Winter</td>
						<td>Entitlemeal 1</td>
						<td>Entitlemeal 2</td>
						<td>Special Package 1</td>
						<td>Special Package 2</td>
						<td>Actions</td>

					</tr>
				</thead>
				<tbody class="bg-light">
					@if (PackagesDtos == null)
					{
						<Searching />
					}
					@foreach (var item in PackagesDtos)
					{
						<tr>
							<th>@(item.PackageName)</th>
							<th>@item.Basis</th>
							<th>@item.PackageDetails</th>
							<th>@item.RoomRateAutumn</th>
							<th>@item.RoomRateSpring</th>
							<th>@item.RoomRateSummer</th>
							<th>@item.RoomRateWinter</th>
							<th>@item.Entitlemeal1</th>
							<th>@item.Entitlemeal2</th>
							<th>@item.SpecialPackage1</th>
							<th>@item.SpecialPackage2</th>
							<th style="white-space:nowrap">
								<a class="btn btn-primary btn-sm" href="/Administration/ManagePackages/Edit/@item.Id">Edit</a>
								<a class="btn btn-danger btn-sm" href="/Administration/ManagePackages/Delete/@item.Id">Delete</a>
							</th>

						</tr>
					}
				</tbody>

			</table>
		</div>
	</div>
</div>
@inject HttpClient Http;

@code {
	
	public List<PackagesDto>? PackagesDtos = new List<PackagesDto>();
	protected async override Task OnInitializedAsync()
	{
		PackagesDtos = await Http.GetFromJsonAsync<List<PackagesDto>>("https://localhost:4000/api/Package");
	}

}
