@page "/Administration/ManageAgents/Edit/{Id:guid}"

@using ResortManagementApp.Models.Administration.DTOS
@using ResortManagementApp.Models.Administration.ManageAgents
@using ResortManagementApp.Models.Administration.ManagePackages
@using ResortManagementApp.Models.Reservation.DTO
@using ResortManagementApp.Models.Reservation
@using System.Text.Json.Nodes
@using ResortManagementApp.Pages.ComponentCss

@layout MainLayout
<div>
	<h3 class="card mb-3 text-center">Add New Agents</h3>
</div>
<div class="col-lg-8">
	<h1 class="mb-5">New Agents</h1>
</div>

<form class="form flex-wrap" style="  background-color:antiquewhite; margin-left: 0.5rem;">
	@if (AgentDto == null)
	{
		<p><Searching /></p>
	}
	<div class="row justify-content-around mb-3">
		<label class="col-md-4 col-form-label">Agent Id</label>
		<div class="col-md-6" style="background-color:antiquewhite">
			<input class="form-control" type="text" @bind="@Id" readonly>
			<span class="text-danger">@Errors["PackageId"]?[0]</span>
		</div>
	</div>
	<div class="justify-content-around flex flex-wrap">
		<div class="">
			<div class="row mb-3">
				<label class="col-md-3 col-form-label">Name</label>
				<div class="col-md-6" style="background-color:antiquewhite">
					<input class="form-control" type="text" @bind="AgentDto.AgentName">
					<span class="text-danger">@Errors["AgentName"]?[0]</span>
				</div>
			</div>
			<div class="row mb-3">
				<label class="col-md-3 col-form-label">Address</label>
				<div class="col-md-6">
					<input class="form-control" type="text" @bind="AgentDto.AgentAddress">
					<span class="text-danger">@Errors["AgentAddress"]?[0]</span>
				</div>
			</div>
			<div class="row mb-3">
				<label style="" class="col-md-3 col-form-label">Contact Person</label>
				<div class="col-md-6">
					<input class="form-control" type="text" @bind="AgentDto.ContactPerson">
					<span class="text-danger">@Errors["ContactPerson"]?[0]</span>

				</div>
			</div>
			<div class="row mb-3">
				<label class="col-md-2 col-form-label">Mobile Number</label>
				<div style="margin-left:2.2rem;" class="col-md-6">
					<input class="form-control" type="text" @bind="AgentDto.Mobile">
					<span class="text-danger">@Errors["Mobile"]?[0]</span>

				</div>
			</div>

			<div class="row mb-3">
				<label class="col-md-2 col-form-label">Fax</label>
				<div class="col-md-6" style="margin-left:2.2rem;">
					<input class="form-control" type="text" @bind="AgentDto.Fax">
					<span class="text-danger">@Errors["Fax"]?[0]</span>

				</div>
			</div>
			<div class="row mb-3">
				<label class="col-md-2 col-form-label">Email</label>
				<div class="col-md-6" style="margin-left:2.2rem;">
					<input class="form-control" type="email" @bind="AgentDto.Email">
					<span class="text-danger">@Errors["Email"]?[0]</span>

				</div>
			</div>
			<div class="row mb-3">
				<label class="col-md-2 col-form-label">Website</label>
				<div class="col-md-6" style="margin-left:2.2rem;">
					<input class="form-control" type="text" @bind="AgentDto.WebSite">
					<span class="text-danger">@Errors["WebSite"]?[0]</span>

				</div>
			</div>
			<div class="row mb-3">
				<label class="col-md-2 col-form-label">Credit Limit</label>
				<div class="col-md-6" style="margin-left:2.2rem;">
					<input class="form-control" type="number" @bind="AgentDto.CreditLimit">
					<span class="text-danger">@Errors["CreditLimit"]?[0]</span>

				</div>
			</div>
		</div>
		<div class="">
			<div class="row mb-3">
				<label class="col-md-3 col-form-label">Vat Reg.No</label>
				<div class="col-md-6 inp">
					<input class="form-control" type="text" @bind="AgentDto.VatRegNo">
					<span class="text-danger">@Errors["VatRegNo"]?[0]</span>

				</div>
			</div>

		</div>
		<div class="" style="display:flex; flex-direction: column; gap: 1rem;">

			<div class="offset-md-1 col-md-3 d-grid" style="">
				<button class="btn btn-success fw-bold" style="width:8rem;" type="button" @onclick="CreateAgent">Update</button>
			</div>
			<div class="offset-md-1 col-md-3 d-grid">
				<button class="btn btn-warning fw-bold" style="width:8rem;" type="reset">Clear</button>
			</div>
			<div class="offset-md-1 col-md-3 d-grid">
				<a class="btn btn-primary fw-bold" style="width:8rem;" href="/Administration/ManageAgents">Back</a>
			</div>
		</div>
	</div>




</form>



<style>
	.form {
		display: flex;
		flex-direction: column;
		background-color: transparent;
		color: black;
		width: 80%;
		font-weight: bold;
		height: fit-content;
	}

	.inp {
		margin-left: 3rem;
	}
</style>

@inject HttpClient http
@inject NavigationManager navManager
@code {
	[Parameter]
	public Guid Id { get; set; }
	public JsonNode Errors { get; set; } = new JsonObject();
	public Agents? Agents { get; set; }
	public AgentDto AgentDto { get; set; } = new();

	private Task CreateAgent(MouseEventArgs args)
	{
		throw new NotImplementedException();
	}
}

